.nav_bar_11 {
    height:50px;width:100%;display: inline;
}
.nav_bar_11 > div {
    margin-right: 20px;float: right;display: inline;
}
.Services {
    display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Services > div {
    margin: 20px;
}
.neck {
    height: 300px;background-color: aqua;position: relative;padding-left: 10%;
}
.About {
    width: 60%;position: relative;left: 10%;
}