
.container {
    position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);
    width:400px;height: 380px;border: 2px solid black;border-radius: 5px;
}
.buttons {
    display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > button {
    height:60px;padding-bottom: 1px;
}